@page "/addfinance"
@using FinanceControl.Data
@inject NavigationManager navigationManager
@inject FinanceControl.Data.FinanceService service
@inject Authentication _Authentication
<h3>Add Finance</h3>

<div class="form-container">
    <div class="form-group">
        <label for="expenseName">Finance Name:</label>
        <input type="text" id="expenseName" class="form-control" @bind="expenseName" />
    </div>

    <div class="form-group">
        <label for="expenseAmount">Value:</label>
        <input type="number" id="expenseAmount" class="form-control" @bind="expenseAmount" />
    </div>

    <div class="form-group">
        <label for="expenseCategory">Category:</label>
        <RadzenDropDown @bind-Value=@expenseCategory Data=@category Style="width: 100%; max-width: 400px;" />
    </div>

    <button class="btn-add" @onclick="Add">Save</button>
</div>

@code {
    private string expenseName;
    private decimal expenseAmount;
    private string expenseCategory;
    private int selectedMonth;
    private int selectedYear;
    private int id;
    private string valor = "Ganho";

    private List<string> category = new List<string>() { "Despesa", "Ganho" };

    protected override void OnInitialized()
    {
        var query = new Uri(navigationManager.Uri).Query;
        var queryParams = System.Web.HttpUtility.ParseQueryString(query);

        if (queryParams.AllKeys.Contains("month") && queryParams.AllKeys.Contains("year"))
        {
            int.TryParse(queryParams["month"], out selectedMonth);
            int.TryParse(queryParams["year"], out selectedYear);
        }
    }
    private async void Add()
    {
        FinanceControl.Data.Finance newFinance = new FinanceControl.Data.Finance
            {
                id = await service.RetornaId(),
                name = expenseName,
                amount = expenseAmount,
                category = expenseCategory,
                date = new DateTime(selectedYear, selectedMonth, 1)
            };

        await service.AddFinance(newFinance);

        navigationManager.NavigateTo("/finance");
    }
}
