@page "/forgotPassword"
@using FinanceControl.Data
@inject FinanceControl.Data.AuthenticationService authService
@inject NavigationManager navigationManager


<div class="login-form">
    
    <div class="form-group">
        <label for="password">Email:</label>
        <input required="true" type="email" id="email" class="form-control" @bind="email"/>
    </div>
 
    <button class="btn-login" @onclick="ForgotPassword">Remember Password</button>
    <br />
    <label @onclick="Login" style="cursor:pointer; color: blue; text-decoration: underline;">Login</label>
    <br />
    <br />
    
    <p> Your password will be sent by email </p>
    @if (errorMessage != null)
    {
        <p class="error-message">@errorMessage</p>
    }
</div>


@code {
    private FinanceControl.Data.Authentication _user;
    private string errorMessage = "";
    private int financeID;

    private string email;

    private async void ForgotPassword()
    {
        if (string.IsNullOrEmpty(email))
        {
            errorMessage = "Email cannot be empty";
        }
        else
        {
            var user = await authService.BuscaSenhaUser(email);
            if ( user != null)
            {
                Task.WaitAll();
               await authService.SendEmail(user, false);
            }
            else
            {
                errorMessage = "Email not registered";
            }
            
        }
    }

    private void Login()
    {
        navigationManager.NavigateTo("/");
    }

}